
{% assign ext  = actordefinition.extension %}
{% assign title = ext | where: "url", "http://hl7.org/fhir/5.0/StructureDefinition/extension-ActorDefinition.title" | first %}
{% assign descr = ext | where: "url", "http://hl7.org/fhir/5.0/StructureDefinition/extension-ActorDefinition.description" | first %}
{% assign capes = ext | where: "url", "http://hl7.org/fhir/5.0/StructureDefinition/extension-ActorDefinition.capabilities" %}


<h4>XX.1.1.X {{title.valueString}}</h4>

{{descr.valueMarkdown | markdownify}}

{% unless capes == empty %}
This actor fufills the following capabilities:
<ul>	  
  {% for cape in capes %}
  <li>
    {% assign capeinstance = cape.valueCanonical | split: "/" | last  | split: ".html" | first | replace: "." , "" %}
    {% assign capestub = "CapabilityStatement-" | append: capeinstance  %}

    {% assign cs = site.data[capestub] %}
    {% include capabilitystatement-short-summary.liquid cs=cs site=site %}
  </li>
  {% endfor %}
</ul>
{% endunless %}



