

{% assign ext = cs.extension %}
{% assign title = cs.title %}
{% assign descr = cs.description %}


<b><a href="Capabilitystatement-{{cs.id}}.html">{{title}} </a></b>:{{descr | markdownify}}


